In [2]:
import pandas as pd

Approach for building a regression problem in Python
* 1) Read and access the data
* 2) Identify the independent and dependent variables
* 3) Splliting the data into train and test
* 4) Building the model
* 5) Identify the equation using the slope and intercept and find R-Sqaured
* 6) Predict the test data, using your mode

In [3]:
ctc = pd.read_csv('./CTCdata- Dataset.csv')
ctc

,CTCoffered,LastCTC,Interview rating,Skill Set Index,Highest qualification,Total years of work exp
0,19,18,4,3,3,8.5
1,17,16,4,3,3,7.7
2,17,16,4,3,3,7.9
3,9,8,3,1,2,2.7
4,10,9,5,4,4,9.7
...,...,...,...,...,...,...
186,7,5,4,2,2,5.5
187,21,19,3,2,2,5.3
188,14,14,5,4,4,10.3
189,10,8,5,4,4,9.5
190,15,15,4,3,3,7.7

In [4]:
ctc_1 = ctc[['CTCoffered','LastCTC']]
ctc_1

     CTCoffered  LastCTC
0            19       18
1            17       16
2            17       16
3             9        8
4            10        9
..          ...      ...
186           7        5
187          21       19
188          14       14
189          10        8
190          15       15

[191 rows x 2 columns]

In [5]:
x= ctc_1[['LastCTC']]

In [6]:
y= ctc_1[['CTCoffered']]

In [7]:
x.head()

   LastCTC
0       18
1       16
2       16
3        8
4        9

In [8]:
y.head()

   CTCoffered
0          19
1          17
2          17
3           9
4          10

## Splitting the data into train and test

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=42)

In [11]:
len(x_train),len(x_test),len(y_train),len(y_test)

(152, 39, 152, 39)

In [12]:
x_train.head()

     LastCTC
35        18
100        9
55        11
135       15
78         6

## Building a Linear Regression model

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr= LinearRegression()
model= lr.fit(x_train,y_train)

Lets make a equation

CTCoffered= (m*lastctc)+c

In [15]:
# To find the slop, we would use the coef_ function
model.coef_

array([[0.9401281]])

In [16]:
# To find the intercept, we would use the intercept_ function
model.intercept_

array([1.80548038])

In [17]:
#To find the R-square value, we would use score function
model.score(x_train,y_train)

0.9709568208423041

## Predicting on test data

In [18]:
y_train.head()

     CTCoffered
35           20
100          11
55           12
135          16
78            8

In [19]:
y_test['Predicted data'] = model.predict(x_test)
y_test.head()

/var/folders/0n/72s_5dyn5gx6dwyk5y8sll780000gn/T/ipykernel_58645/2101125879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Predicted data'] = model.predict(x_test)

     CTCoffered  Predicted data
152          18       17.787658
75           21       20.608042
158           8        7.446249
66           17       16.847530
60           17       16.847530

## Evaluating the model by finding out the RMSE value

RMSE- Root Mean Squared Error

In [20]:
y_test.head()

     CTCoffered  Predicted data
152          18       17.787658
75           21       20.608042
158           8        7.446249
66           17       16.847530
60           17       16.847530

In [22]:
y_test['Error']= y_test['CTCoffered']-y_test['Predicted data']
y_test.head()

/var/folders/0n/72s_5dyn5gx6dwyk5y8sll780000gn/T/ipykernel_58645/709722531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Error']= y_test['CTCoffered']-y_test['Predicted data']

     CTCoffered  Predicted data     Error
152          18       17.787658  0.212342
75           21       20.608042  0.391958
158           8        7.446249  0.553751
66           17       16.847530  0.152470
60           17       16.847530  0.152470

In [24]:
y_test['Squared Error'] = y_test['Error']**2
y_test.head()

/var/folders/0n/72s_5dyn5gx6dwyk5y8sll780000gn/T/ipykernel_58645/292417845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Squared Error'] = y_test['Error']**2

     CTCoffered  Predicted data     Error  Squared Error
152          18       17.787658  0.212342       0.045089
75           21       20.608042  0.391958       0.153631
158           8        7.446249  0.553751       0.306640
66           17       16.847530  0.152470       0.023247
60           17       16.847530  0.152470       0.023247

In [26]:
y_test['Mean sqrd error']= y_test['Squared Error'].mean()
y_test.head()

/var/folders/0n/72s_5dyn5gx6dwyk5y8sll780000gn/T/ipykernel_58645/1146813084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Mean sqrd error']= y_test['Squared Error'].mean()

     CTCoffered  Predicted data     Error  Squared Error  Mean sqrd error
152          18       17.787658  0.212342       0.045089         0.510442
75           21       20.608042  0.391958       0.153631         0.510442
158           8        7.446249  0.553751       0.306640         0.510442
66           17       16.847530  0.152470       0.023247         0.510442
60           17       16.847530  0.152470       0.023247         0.510442

In [28]:
mse = y_test['Squared Error'].mean()
mse

0.5104422481086017

In [29]:
from math import sqrt

In [31]:
rmse = sqrt(mse)
rmse

0.7144524113673364

Lets assume a candidate is selected who had a salary of 12L , what is the predicted salary.

In [34]:
predict_Salary = model.predict([[12]])
predict_Salary

array([[13.08701761]])

In [38]:
Upper_band = predict_Salary + rmse
Lower_band = predict_Salary - rmse

In [39]:
Upper_band

array([[13.80147003]])

In [40]:
Lower_band

array([[12.3725652]])